<!DOCTYPE html>
<html>
<head>
    <title>Hello Kubernetes!</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" >
</head>
<body>

  <div class="main">
    <h1><font color="white">KTL APP</font></h1>
    <div class="content">
      {{{body}}}
    </div>
  </div>

</body>
</html>
